.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}

.newGame {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

/* Layout */

.infobar {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-around;
  height: 2rem;
  align-items: center;

  background-color: blue;
  color: white;

  font-family: monospace;
}

.habitat {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  height: 100%;
  aspect-ratio: 1;
}

.habitat div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* pixel colors */
.soil {
  background-color: brown;
  color: brown;
}
.air {
  background-color: aqua;
  color: aqua;
}
.shoot {
  background-color: green;
  color: green;
}
.root {
  background-color: tan;
  color: tan;
}
/* TODO: flowers! */
.fruit{
  background-color: red;
  color: red;
}
.bud, .flower {
  background-color: pink;
  color: pink;
}

.dispersed {
  background-color: rosybrown;
  color: rosybrown;
}

.actions {
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.actions button {
  width: min-content;
}